
/* ---- particles.js container ---- */

#particles-js{
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
}
  
#day,#night {
  cursor: pointer;
}

.panel, .panel-footer,.content{
  position: relative;
}

#gitalk-container {
  position: relative;
}
