<!DOCTYPE html>      
<html> 
<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>    

<div class="container" id="app">
    <div class="text-center">
        <h2>基本天气预报</h2>
        <div class="form-inline row">
            <input type="text" class="form-control" placeholder="关键字" id="input-location" v-model="inputlocation"/>
            <button class="btn btn-primary" @click="loadBasic();">搜 索</button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>日期</th>
            <th>天气</th>
            <th>最低温度</th>
            <th>最高温度</th>
            <th>湿度</th>
            <th>能见度</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="data in datas">
            <td>{{data.date}}</td>
            <td>{{data.cond_txt_d}}</td>
            <td>{{data.tmp_min}}</td>
            <td>{{data.tmp_max}}</td>
            <td id="hum">{{data.hum}}</td>
            <td id="vis">{{data.vis}}</td>
        </tr>
        </tbody>
    </table>
</div> 

<script> 
        /*       
        function loadBasic() 
        {        
            /*var xmlhttp;
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                var str=xmlhttp.responseText;
                var obj=JSON.parse(str);
                document.getElementById("location").innerHTML=obj.HeWeather6[0].basic.location;
                document.getElementById("tmp").innerHTML=obj.HeWeather6[0].now.tmp;
                document.getElementById("hum").innerHTML=obj.HeWeather6[0].now.hum+"%";
                document.getElementById("vis").innerHTML=obj.HeWeather6[0].now.vis+"km";
                }
            }
            var location=document.getElementById("input-location").value;
            axios.get('https://free-api.heweather.net/s6/weather/now?location='+location+'&key=89d49e32a26d4067822c9ed361231e2d')
            .then(function (response) {
                document.getElementById("location").innerHTML=response.data.HeWeather6[0].basic.location;
                document.getElementById("tmp").innerHTML=response.data.HeWeather6[0].now.tmp;
                document.getElementById("hum").innerHTML=response.data.HeWeather6[0].now.hum+"%";
                document.getElementById("vis").innerHTML=response.data.HeWeather6[0].now.vis+"km";
            })
            .catch(function (error) {
                console.log(error);
            });
            /*
            var location=document.getElementById("input-location").value;
            xmlhttp.open("GET","https://free-api.heweather.net/s6/weather/now?location="+location+"&key=89d49e32a26d4067822c9ed361231e2d",true);
            xmlhttp.send();
        }
        
        function loadAir() 
        {       
            var location=document.getElementById("input-location").value;
            axios.get('https://free-api.heweather.net/s6/air/now?location='+location+'&key=89d49e32a26d4067822c9ed361231e2d')
            .then(function (response) {
                document.getElementById("update").innerHTML=response.data.HeWeather6[0].update.loc;
                document.getElementById("aqi").innerHTML=response.data.HeWeather6[0].air_now_city.aqi;
            })
            .catch(function (error) {
                console.log(error);
            });
        }    */
    
        var vm=new Vue({
            el: '#app',
            data: {
                inputlocation:' ',
                datas:[]
            },
            methods: {
                loadBasic() {
                    axios.get('https://free-api.heweather.net/s6/weather/forecast',{
                        params:{
                            location:this.inputlocation,
                            key:'89d49e32a26d4067822c9ed361231e2d'
                        }
                    })
                    .then((response)=> {
                        this.datas=response.data.HeWeather6[0].daily_forecast;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
            }
        })
        </script>        
 
</body>        
</html>
